//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
	._container {
		padding: 0 10px;
	}
}

@media (max-width: 1100px) {
	.tariffs__column {
		padding: 0 10px 15px 10px;
	}

	.tariffs__inner {
		display: flex;
		flex-wrap: wrap;
		margin: 40px -10px 0 -10px;
	}
}

@media (max-width: 1024px) {
	.service__inner {
		justify-content: space-between;
	}

	.service__column {
		flex: 0 1 48%;
	}
}

@media (max-width: 950px) {
	.tariffs__column {
		flex: 0 1 50%;
	}
}

@media (max-width: 860px) {
	.about {
		background-size: cover;
	}

	.free-version__inner-load {
		justify-content: space-between;
	}

	.free-version__loadCard {
		margin-right: 10px;
	}
}

@media (max-width: 768px) {
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		background: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}

	.logo-icon {
		flex: 0 0 50px;
		height: 20px;
	}

	.logo-icon:before {
		flex: 0 0 100%;
		height: 100%;
	}

	.logo-icon p {
		display: none;
	}

	.icon-menu {
		display: flex;
	}

	.header__menu-block {
		margin-right: 15px;
	}

	.header__menu-list {
		display: none;
	}

	section {
		padding: 20px 0 !important;
	}

	.title {
		margin-bottom: 15px;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.footer {
		padding: 10px 0;
	}

	.footer__title {
		font-size: 24px;
	}

	.footer__row {
		flex-wrap: wrap;
	}

	.footer__column {
		flex: 0 1 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.about {
		padding-top: 60px !important;
	}

	.about__title {
		margin-bottom: 10px;
	}

	.about__title br {
		display: none;
	}

	.about__subtitle {
		font-size: 16px;
	}

	.about__subtitle br {
		display: none;
	}

	.about__link {
		margin-top: 25px;
	}

	.service__text {
		font-size: 14px;
		line-height: 1.3;
	}

	.consult__text {
		font-size: 14px;
		line-height: 1.5;
	}

	.usage__list-item {
		font-size: 18px;
		line-height: 1.7;
		margin-bottom: 6px;
	}

	.usage__list-item span {
		margin-right: 10px;
	}

	.tariffs__subtitle {
		font-size: 16px;
		text-align: left;
		line-height: 1.3;
		margin-bottom: 10px;
	}

	.tariffs__subtitle br {
		display: none;
	}

	.tariffs__inner {
		margin: 20px -15px 0 -15px;
	}

	.tariffs__card-title {
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 10px;
	}

	.tariffs__card-list-item {
		font-size: 13px;
		line-height: 1.2;
		margin-bottom: 8px;
	}

	.tariffs__card {
		padding: 20px;
	}

	.tariffs__column {
		flex: 0 1 33.333%;
	}

	.tariffs__card-price {
		font-size: 16px;
		line-height: 1.3;
		margin-top: 5px;
	}

	.tariffs__column {
		padding: 0 5px 10px 5px;
	}

	.tariffs__inner {
		margin: 20px -10px 0 -10px;
	}

	.popular__spollers-block-title {
		font-size: 16px;
	}

	.popular__spollers-block-body {
		font-size: 14px;
		line-height: 1.2;
		padding: 15px 85px 0px 0;
	}

	.popular__spollers-block-item {
		padding: 15px 55px 15px 0;
	}

	.popular__spollers-block-title::after {
		top: 23%;
	}

	.popular__spollers-block-body {
		padding: 15px 0px 0px 0;
	}

	.free-version__descp {
		padding: 25px 15px;
	}

	.free-version__subtitle {
		font-size: 14px;
		line-height: 1.3;
		text-align: left;
	}

	.free-version__subtitle br {
		display: none;
	}

	.free-version__cardText-icon {
		display: none;
	}

	.free-version__cardText-icon {
		font-size: 14px;
	}

	.free-version__cardText-icon br {
		display: none;
	}

	.benefits__card-title {
		font-size: 18px;
		margin-bottom: 5px;
	}

	.benefits__card-text {
		font-size: 14px;
		line-height: 1.3;
	}

	.benefits__card {
		flex: 0 1 31%;
		margin-bottom: 15px;
	}

	.benefits__card-icon {
		width: 35px;
		height: 35px;
		margin-bottom: 8px;
	}

	.benefits__card-icon::before {
		background-position: 50%;
		background-size: 80%;
	}

	.free-version__load-title {
		font-size: 24px;
		line-height: 1.3;
	}

	.about__nuar_blk {
		display: block;
	}

	.about__subtitle {
		color: #000;
	}

	.header__contacts {
		margin-bottom: 0;
	}

	.header__navigation {
		margin-left: auto;
		margin-right: 20px;
	}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s;
	}

	.tariffs__column {
		flex: 0 1 50%;
	}
}

@media (max-width: 612px) {
	.popup__img {
		flex: 0 1 43%;
	}

	.popup__form-block {
		padding: 35px 15px;
	}
}

@media (max-width: 540px) {
	.free-version__inner-load {
		flex-wrap: wrap;
	}

	.free-version__loadCard {
		flex: 0 1 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
}

@media (max-width: 515px) {

	.header__mob-phone-icon {
		display: flex;
		margin-right: 25px;
	}

	.popup__img {
		display: none;
	}

	.popup__form-block {
		flex: 0 1 100%;
	}

	.service__inner {
		flex-wrap: wrap;
	}

	.service__column {
		flex: 0 1 100%;
		margin-bottom: 15px;
	}

	.request__form-column {
		margin-right: 10px;
	}

	.free-version__inner {
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 25px;
	}

	.free-version__column {
		flex: 0 1 100%;
		margin-bottom: 10px;
	}

	.free-version__cardText-text br {
		display: none;
	}

	.benefits__card {
		flex: 0 1 48%;
	}

	.benefits__inner {
		justify-content: space-between;
	}

	.benefits__card {
		flex: 0 1 100%;
	}

	.header__contacts-phone {
		font-size: 14px;
		margin-top: 3px;
	}

	.header__contacts-subscription-link {
		width: 25px !important;
		height: 25px !important;
		margin-right: 10px;
	}

	.header__contacts-subscription-link::before {
		flex: 0 0 15px !important;
		width: 15px !important;
		height: 13px !important;
	}
}

@media (max-width: 480px) {
	.about {
		background-image: none;
	}

	.about__nuar_blk {
		background-color: #00000090;
	}

	.about__title,
	.about__subtitle {
		color: #fff;
	}

	.consult {
		background-image: none;
	}

	.consult__nuar_blk {
		display: block;
		background-color: #00000090;
	}

	.consult ._container {
		position: relative;
		z-index: 5;
		color: #fff;
	}
}

@media (max-width: 460px) {
	.tariffs__column {
		flex: 0 1 100%;
	}
}

@media (max-width: 414px) {
	.about__link {
		width: 100%;
	}

	.consult__link {
		margin-top: 15px;
		width: 100%;
	}

	.request__form-column {
		flex: 0 1 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.request__form-inner {
		flex-wrap: wrap;
	}

	.request__form-btn {
		margin-bottom: 10px;
		width: 100%;
	}

	.request__form-inner {
		margin-bottom: 10px;
	}

	.request__form-policy {
		font-size: 12px;
		line-height: 18px;
	}

	.request__form-policy br {
		display: none;
	}

	.about {
		background-position: 0;
	}
}