@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
// @import "fonts";

@font-face {
	font-family: "TTFirsNeue";
	src: url("../fonts/TTFirsNeue-Thin.eot");
	src: local("☺"), url("../fonts/TTFirsNeue-Thin.woff") format("woff"), url("../fonts/TTFirsNeue-Thin.ttf") format("truetype"),
		url("../fonts/TTFirsNeue-Thin.svg") format("svg");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "TTFirsNeue";
	src: url("../fonts/TTFirsNeue-Light.eot");
	src: local("☺"), url("../fonts/TTFirsNeue-Light.woff") format("woff"), url("../fonts/TTFirsNeue-Light.ttf") format("truetype"),
		url("../fonts/TTFirsNeue-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "TTFirsNeue";
	src: url("../fonts/TTFirsNeue-Regular.eot");
	src: local("☺"), url("../fonts/TTFirsNeue-Regular.woff") format("woff"), url("../fonts/TTFirsNeue-Regular.ttf") format("truetype"),
		url("../fonts/TTFirsNeue-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "TTFirsNeue";
	src: url("../fonts/TTFirsNeue-Medium.eot");
	src: local("☺"), url("../fonts/TTFirsNeue-Medium.woff") format("woff"), url("../fonts/TTFirsNeue-Medium.ttf") format("truetype"),
		url("../fonts/TTFirsNeue-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "TTFirsNeue";
	src: url("../fonts/TTFirsNeue-ExtraBold.eot");
	src: local("☺"), url("../fonts/TTFirsNeue-ExtraBold.woff") format("woff"), url("../fonts/TTFirsNeue-ExtraBold.ttf") format("truetype"),
		url("../fonts/TTFirsNeue-ExtraBold.svg") format("svg");
	font-weight: 800;
	font-style: normal;
}

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "TTFirsNeue", sans-serif;
$fontSize: 20;
$fontWeight: 400;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>======================================================================================================= 

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1242;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #939393;
;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	font-weight: $fontWeight;
	color: $mainColor;
	// background: #333;

	a {
		font-family: "TTFirsNeue", sans-serif;
		color: #000;
		font-weight: 400;
	}

	&._lock {
		overflow: hidden;
		touch-action: none;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-size: 46px;
	font-weight: 500;
	line-height: 59 / 46 *100%;
}

h2 {
	font-size: 36px;
	font-weight: 500;
	line-height: 46 / 36 *100%;
}

h3 {
	font-size: 28px;
	font-weight: 500;
	line-height: 38px;
}

h4 {
	font-size: 25px;
	font-weight: 500;
	line-height: 38px;
}

.title {
	text-align: center;
	color: #000;
	margin-bottom: 35px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 24px;
	}
}

//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	// min-height: 200vh;
	// position: relative;
	&._loaded {}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox";
@import "datepicker";
@import "lightgallery";
//@import "popover.min";
//@import "baguetteBox";
// @import "fancybox.min";
//@import "pagging";
// @import "map";
// @import "slider-index";
// @import "catalog";
// @import "collection";
@import "tippy";
@import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// padding: 35px 0; 
	// padding-top: 80px;
}

//===================================================================================================================================

.about {
	padding: 112px 0 60px 0;
	background-position: 90% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../img/about-bg.jpg');
}

.about__title {
	color: #000;
	margin-bottom: 30px;
}

.about__subtitle {
	line-height: 26px;
}

.about__link {
	margin-top: 70px;
}

//========================================================================================================================================================

.service {
	padding: 60px 0 100px 0;
}

.service__inner {
	position: relative;
	display: flex;
	justify-content: space-evenly;
}

.service__img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 288px;
	height: 288px;
	overflow: hidden;
}

.service__column {
	flex: 0 1 43%;
}

.service__text {
	line-height: 26px;

	span {
		color: #000;
		font-weight: 600;
	}
}

//========================================================================================================================================================

.benefits {
	padding: 80px 0;
	background: #F8F8F8;
}

.benefits__title {}

.benefits__inner {}

.benefits__column {}

//========================================================================================================================================================

.consult {
	padding: 117px 0 137px 0;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/consult.jpg');
}

.consult ._container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.consult__text {
	max-width: 809px;
	width: 100%;
	font-size: 16px;
	line-height: 28px;
	text-align: center;

	span {
		font-weight: 600;
		color: #000;
	}
}

.consult__link {
	margin-top: 20px;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media";